/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html, body, .game-container {
    height: 100%;
}
html {
    background-color: #132c33;
}
.flex-parent-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-parent-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-item-grow {
    flex: 1 0 auto;
}

.card-area {
    flex: 2 0 auto;
}



.flip-container {
    height: 200px;
    width: 200px;
    margin: 1.25rem;
}

.flipped {
    transform: rotateY(180deg);
}

.card {
    position: relative;
    transition: transform .25s;
    height: 12.5rem;
    width: 12.5rem;
    transform-style: preserve-3d;    
}

.card-front, .card-back {
    background-color: #126e82;
    color: white;
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.card-back {
    transform: rotateY(180deg);
}

.card-img {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.player-area {
    background-color: #0c1d22;
    width: 100%;
}

.button {
    height: 50px;
    width: 150px;
    margin: 25px;
    padding: 15px;
    font-size: 24px;
    line-height: 0px;
    background-color: transparent;
    color: white;
    border: 3px solid white;
}

.button:hover {
    background-color: #126e82;
    transform: scale(1.1);
}

.player-score, .cpu-score {
    margin: 0 100px;   
}

.cpu-score-display, .player-score-display {
    margin: 15px;
    
}

.message {
    font-size: 24px;
    text-align: center;
    color: white;
}

.score-area {
    color: white;
}